<h1>Welcome to the Beerconomy</h1>

<p>Do you owe someone a beer? It's likely that you do. Send them a (virtual) beer now!</p>

<p>Here, users (registered and unregistered alike) are prompted to:</p>
<ul>
  <li>Give someone a beer (sign up + give)</li>
  <li>Redeem a beer (code)</li>
  <li>Register -- no e-mail required</li>
</ul>

