<h1>User Home</h1>
<p>This is where you see a user's stats:</p>
<ul>
  <li>how many beers you've been given,</li>
  <li>which people have given you beers,</li>
  <li>and who you've given beers to.</li>
</ul>

<p>There will also be a "GIVE SOMEONE A BEER" button here (we don't need a separate view for that; just AJAX and a modal.</p>
