<h1>Sign Up for Beerconomy</h1>

<p>Want to participate in the Beerconomy? Great!</p>

<p>Pick a username and password; we don't want your e-mail. If you don't enter your e-mail address, make sure to pick a really stupid password so that you don't forget it.</p>
